body{
    width: 600px;
    margin: auto;
    
}
.bar-menu{
    background-color: #824192 ;
    padding: 10px 20px 10px 20px;
    height: 50px;
}
.carousel{
    width: 350px;
    margin-top: 50px;
}
.banner{
     background-color: #57066B;
     height:300px;
 }
.sous {
    display: none;
}
.sous1{
    display: flex;
    flex-direction: column;
    padding-inline-start: 20px;
    background-color: #824192 ;
    margin-left: 439px;
    font-size: 25px;
    z-index: 1;
    margin-top: 50px;
    position: fixed;
}
 .aboutme{
     width: 240px;
     font-size: 18px;
     margin-left: 5px;
     text-align: center;
 }
main{
    background-color: #E4D4E4;
    
}
.article{
    width: 450px;
    height: 300px;
    background-color: white;
    position: relative;
    margin-top: 70px;
}
.article img{
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}
.passion{
    position: absolute;   
    margin-top: 50px;
    margin-left: 180px;
    font-size: 20px;
}
.titre1 a{
    position: absolute;
    margin-top: 120px;
    margin-left: 90px;
    font-size: 23px;
    text-decoration: none;
    color: #57066B;
}
.infor{
    position: absolute;
    margin-top: 170px;
    margin-left: 20px;
    font-size: 15px;
}
.publish{
    position: absolute;
    margin-top: 270px;
    margin-left: 350px;
}
footer{
    background-color: #824192;
}
 li{
    list-style: none;
    padding: 10px;
}
.social{
    font-size: 30px;
    margin-left: 200px;
}

h6 {
    margin-left: 170px;
    color: white;
}
.sous a{
    text-decoration: none;
    color: white
}
.modal-body p {
    text-align: center;
    color: #824192;
    font-size: 20px;
}


 /* ----------------- */
 .flex{
     display: flex;
 }
 .justify{
     justify-content: space-between;
 }
 .align{
     align-items: center;
 }
 .direction{
     flex-direction: column;
 }
 .width{
     width: 150px;
 }
 .height{
     height: 90px;
 }
 .padding{
     padding: 70px;
 }
 .text{
    font-size: 30px;
}
.white{
    color: white;
}
.margin-bottom{
    margin-bottom: 50px;
}
.fixed-top{
    position: fixed;
    margin: auto;
    width: 600px;
    z-index: 1;
}
.margin-top{
    margin-top: 0px;
}

 /* -----------------kitchen, book, travel page ------------------ */
 .background{
     background-repeat: no-repeat;
     background-size: 100%;
     height:250px;
     margin-top: 50px;
 }
 .kitchen{
    background-image: url("../img/img11.jpeg");
 }
 .travel {
    background-image: url("../img/img13.jpg");
 }
 .book{
    background-image: url("../img/img10.jpg");
 }
 h1{
    color: white;
    position: absolute;
    margin-top: 80px;
    margin-left: 200px;
}
 .maincontent{
    background-color: #E4D4E4;
    position: relative;
    height: 1160px;
}
 article {
    width: 500px;
    height: 1100px;
    background-color: white;
    position: absolute;
    margin-left: 60px;
    margin-top: 30px;
 }
 h2{
     text-align: center;
     color: #57066B;
 }
 .date{
     position: absolute;
     margin-left: 300px;
     font-size: 12px;
 }
.content{
    position: absolute;
     margin-left: 10px;
     font-size: 15px;
     margin-top: 200px;
}
.picture{
    position: absolute;
    margin-left: 90px;
    margin-top: 30px;
    width : 300px;
    height: 150px;
}
.tip ul {
    position: absolute;
    margin-left: 15px;
    margin-top: 240px;
}
.tip ul li{
    list-style: inside;
    padding : 1px;
}